<body class="backgroud" >
	 <div
    id="intro-example"
    class="top6">
    <div class="text-center">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <div class="">
          <% flash.each do |message_type, message| %>
            <h4 style="color: white;"><%= message %></h4>
          <% end %>
          </div>
          <h1 class="mb-4">Welcome to Traveloke</h1>
          <h5 class="mb-4">Chúc bạn có những chuyến đi ý nghĩa!</h5>
	          <div class="btn btn-outline-light btn-lg m-2"
	          	role="button"
	            rel="nofollow"
	            target="_blank"
	            role="button">
	            <%= link_to "Khám phá ngay", tours_path, class:"mytitle" %>
	          </div>
        </div>
      </div>
    </div>
  </div>
</body>
