<div class="top">
  <div class="list-user">
    <% @users.each do |user|%>
      <% if user.id != current_user.id %>
      <div id="user-box-<%= user.id %>">
        <br>
       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwbGozsS9QP10p16rZiCrQD0koXVkI4c7LwUHab9dkmFRcN0VqCkB37f2y0EnySItwykg&usqp=CAU" style = "width: 50px;height: 50px;">
        <%= link_to user.name, get_user_modal_path(user), remote: true, 
          class: "user-info" %>
        <%= link_to 'Delete','#',data: {url: delete_user_path(user.id), user_id: user.id}, class: "sweet-delete-user" %>
      </div>
      <% end -%>
    <% end -%>
  </div>
</div>
<%= render 'modal' %>
