
<h3 class="top">
  <h3>My pofile</h3>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwbGozsS9QP10p16rZiCrQD0koXVkI4c7LwUHab9dkmFRcN0VqCkB37f2y0EnySItwykg&usqp=CAU" style = "width: 80px;height: 80px;"><br>
  Name: <%= @user.name %><br>
  Mail: <%= @user.email %><br>  
  <%= link_to "Edit profile", '#' %>
</h3>
