<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="top5">
  <h2 align="center", style="color: black;">Thông Tin Cá Nhân</h2>
  <div class="profile-wrapper border-crudtour">
    <img class="profile-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwbGozsS9QP10p16rZiCrQD0koXVkI4c7LwUHab9dkmFRcN0VqCkB37f2y0EnySItwykg&usqp=CAU">
    <div>
      <div>
        <i class="fa fa-address-book">: </i>
        <%= @user.name %>
      </div>
      <div>
        <i class="fa fa-envelope">: </i>
        <%= @user.email %>
      </div>

      <div>
        <i class="fa fa-phone">: </i>
        <%= @user.phone %>
      </div>
      <button class='btn btn-primary'>
        <%= link_to "Sửa Thông Tin", edit_user_registration_path %>
      </button>
    </div>
  </div>
</div>
