/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-datepicker";

.tour {
    height: 190px;
    width: 250px;
}
.tour-show {
    height: 280px;
    width: 100%;
}
.backgroud {
  background-image: url("https://c.wallhere.com/photos/1a/f8/1920x1200_px_beaches_Fiji_Hotels_huts_Islands_ocean_Palm-2063893.jpg!d");
  background-size: cover;
}

.texts {
  
  font-size:25px;
  color: #000000;
}
.color-text {
  font-size: 15;
  color: #D80000 ;
}
.headerfix {
  position: fixed !important;
  top: 0; left: 0; right: 0;
  z-index: 1000;
}
