a {
	text-decoration: none !important;
}

.backgroudimg {
  background-image: url("https://c.wallhere.com/photos/1a/f8/1920x1200_px_beaches_Fiji_Hotels_huts_Islands_ocean_Palm-2063893.jpg!d");
  background-size: cover;
}
.top1 {
  margin-top: 100px;
  font-style: normal;

}
.mytitle {
   color: #FFFFFF;
}
