.input-group {
	justify-content: flex-end;
	margin-right: 50px;
	.form-outline {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.navbar-brand {
	margin-left: 80px;
	font-style: oblique;
	color: #0000;
}

.nav-item {
	margin-left: 20px;
	font-style: normal;
	color: #0000;
}
