.body-user {
	background: url("https://cdn.pixabay.com/photo/2016/12/08/18/55/coconut-tree-1892861_960_720.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
  background-position: center;
  background-size: 350px 520px;
}

.list-user {
	
	margin-left: 3rem;
	margin-bottom: 2rem;
	margin-top: 4rem;
}
