const sendReview = (url) => {
	const comment = $('#text_review').val();
	if (comment.trim().length == 0) return;
	$.ajax({
		url: url,
		dataType: 'json',
		type: 'post',
		data: {
			'comment': comment
		},
		success: function(data) {
			console.log(data)
			let html = `<div><span style="color: #2980b9;">${data.user.name}: </span>${data.review.comment}</div>`
	   		$('#reviews_section').prepend(html);
				$('#text_review').val('');
    	}
	});
}

$(document).on("click", "#submit_review", function(e){
	const { url } = e.currentTarget.dataset;
	sendReview(url);
});
$(document).on("keypress", "#text_review", function(e){
	let url = `${location.href}/reviews`;
	let isPressEnter = e.keyCode == 13;
	if (isPressEnter) {
		sendReview(url);
		const commentBox = document.getElementById('reviews_section');
		// scrollToBottom(commentBox);
	}
});
function scrollToBottom(node) {
	node.scrollTop = node.scrollHeight;
}
